@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=DM+Serif+Display:ital@0;1&family=Manrope:wght@200..800&family=Michroma&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  -webkit-transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  -moz-transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  -ms-transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  /* font-family: "DM Serif Display", serif; */
  /* font-family: "Caprasimo", serif; */
  /* font-family: "Michroma", sans-serif; */
  background: var(--color-bg);
  color: var(--color-text);

  /* COLORS */

  --color-bg: #1b1e20;
  --color-bg-light: #2e3236;
  --color-bg-light-2: #53585d;
  --color-second: #9cc3dc;
  --color-second-2: #9cc4dc28;
  --color-primary: #67c0fa;
  --color-text: #f6fcff;
  --color-text-2: #bac3c7;
  /* --color-bg: #dbf3ff; */
  /* 'color-primary': 'var(--color-primary)',
    'color-primary-light': 'var(--color-primary-light)',
    'color-gray-light': 'var(--color-gray-light)',
    'color-gray-light-2': 'var(--color-gray-light-2)',
    'color-gray': 'var(--color-gray)',
    'color-bg': 'var(--color-bg)', */
}

.caprasimo-font {
  font-family: "Caprasimo", serif;
}

.text-outline {
  @supports (background-clip: text) or (-webkit-background-clip: text) {
    background-image: url("https://img.freepik.com/free-vector/hand-painted-blue-sky-background-with-fluffy-white-clouds_1048-18892.jpg?semt=ais_hybrid&w=740&q=80");
    background-size: 110% auto;
    background-position: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}

.btn-primary {
  @apply text-lg rounded-2xl px-4 py-3 flex items-center gap-2 font-extrabold bg-[radial-gradient(circle_at_center,_var(--tw-gradient-stops))] from-color-second to-color-primary hover:scale-95;
}

.btn-light {
  @apply text-lg rounded-2xl bg-color-bg-light px-4 py-3 flex items-center gap-2 font-extrabold hover:scale-95;
}

.btn-primary > svg,
.btn-light > svg {
  width: 28px;
  height: 28px;
}

.navbar-button {
  @apply rounded-2xl flex items-center text-lg gap-2 px-4 py-3 hover:bg-color-bg-light hover:scale-95;
}
