@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=DM+Serif+Display:ital@0;1&family=Manrope:wght@200..800&family=Michroma&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  /* font-family: "DM Serif Display", serif; */
  /* font-family: "Caprasimo", serif; */
  /* font-family: "Michroma", sans-serif; */
}

.caprasimo-font {
  font-family: "Caprasimo", serif;
}